body {
    margin: 0 auto;
}

.container {
    background-color: rgb(250, 241, 241);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    padding-top: 120px;
    padding-bottom: 40px;
}

.left-part {
    width: 350px;
    height: 115px;
    /* padding: ; */
    padding-top: 15%;
    padding-left: 12%;
    float:left;
}

.right-part {
    width: 350px;
    height: 115px;
    padding-top: 15%;
    padding-left: 12%;
    float:left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00291b;
    color: white;
    text-align: right;
    height: 22px;
    padding-top: 8px;
}

